.main-page-div {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
  align-items: normal;
}

.main-col-div {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -90px;
}

.left-col-div {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 25%;
  margin: 50px 0px 50px 0px;
}

.right-col-div {
  order: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 25%;
  margin: 50px 0px 50px 0px;
}